@use "@angular/material" as mat;

:host {
  @include mat.divider-overrides(
    (
      color: var(--mat-sys-surface-container-high),
    )
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main {
  height: 100%;
  &.logged-in {
    margin-top: 56px;
  }
}
