@let isLoggedIn = authState.isLoggedIn();

@if (isLoggedIn) {
  <header>
    <mat-toolbar>
      <a [routerLink]="'/home'">zootter</a>
    </mat-toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabGroup" [fitInkBarToContent]="true">
      @for (link of links(); track link) {
        <a
          mat-tab-link
          [routerLink]="link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link }}
        </a>
      }
    </nav>
  </header>

  <main class="logged-in">
    <mat-tab-nav-panel #tabGroup>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </main>
} @else {
  <main>
    <router-outlet />
  </main>
}
