// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$yellow-palette,
      typography: "Noto Sans JP",
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
  background-image: url("/img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
